*{
  margin: 0;
  padding: 0;
}
.container {
  background: url(wp.webp);
   height: 100vh;
   background-size: 101% 100%;
   background-repeat: repeat;
}


.container .navbar{
  width: 100%; 
  height: 85px;
  background: rgb(133, 124, 101);
}

.navbar .ucretsizhesap{
  background-color: black;
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}

.navbar ul{
  float:right;
  margin-right: 20px;
  
}

.navbar .ucretsizhesap a{
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  color: aqua;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 8px;
  line-height: 40px;
}

.navbar ul li a{
  color: aqua;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 13px;
  font-family: Roboto;
  transition: 0.5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
  background-color: rgb(206, 1, 1);
  border-radius: 100px;
}

.container .center {
  position: absolute;
  top: 20%;
  left: 16%;
  transform: translate(-50%-50%);
  font-family: sans-serif;
}

.center h1{
  color: rgb(56, 159, 190);
  font-family: Russo One;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  text-align: center;
  animation: glow 0.11s ease-in-out infinite alternate;
}
@keyframes glow{
  100%{
    text-shadow: 
    0 0 4px wheat,
    0 0 11px wheat,
    0 0 19px wheat,
    0 0 40px rgb(88, 178, 252),
    0 0 80px rgb(88, 178, 252),
    0 0 90px rgb(88, 178, 252),
    0 0 100px rgb(88, 178, 252),
    0 0 150px rgb(88, 178, 252);
  }

  0%{
    text-shadow: 
    0 0 4px wheat,
    0 0 10px wheat,
    0 0 18px wheat,
    0 0 38px rgb(88, 178, 252),
    0 0 73px rgb(88, 178, 252),
    0 0 80px rgb(88, 178, 252),
    0 0 94px rgb(88, 178, 252),
    0 0 140px rgb(88, 178, 252);
  }
}


.center h3{
  backface-visibility: 10% 10;
  color: rgb(45, 146, 20);
  font-size: 23px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}

.center a{
  background-color: black;
  text-decoration: none;
  color: aqua;
  border-radius: 30px;
}

.center b{
  color: rgb(46, 230, 46);
  background-color: black;
  text-decoration: none;
  border-radius: 50px
}